<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/ba7999eed7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="flex justify-center">
    <%if (usersList != ""){%>
    <section class="w-full flex flex-col justify-center">
      <div class="main mb-6 flex flex-col justify-between">
        <div class="overflow-x-auto relative shadow-md">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="py-3 px-6 text-center">Name</th>
                <th scope="col" class="py-3 px-6 text-center">Email</th>
                <th scope="col" class="py-3 px-6 text-center">Phone No.</th>
                <th scope="col" class="py-3 px-6 text-center">Address</th>
                <th scope="col" class="py-3 px-6 text-center">City</th>
                <th scope="col" class="py-3 px-6 text-center">Gender</th>
                <th scope="col" class="text-center py-3 px-6">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
              >
                <th
                  scope="row"
                  class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
                >
                  Test Test
                </th>
                <td class="py-4 px-6 text-center">test@gmail.com</td>
                <td class="py-4 px-6 text-center">1234567890</td>
                <td class="py-4 px-6 text-center">xyz,floor test</td>
                <td class="py-4 px-6 text-center">Mohali</td>
                <td class="py-4 px-6 text-center">Male</td>
                <td class="py-4 px-6 text-center whitespace-nowrap">
                  <a href="#" class="text-blue-600 pr-2"
                    ><i class="fas fa-edit fa-regular fa-lg"></i
                  ></a>

                  <a href="#" class="text-red-600 pl-2"
                    ><i class="fas fa-trash fa-regular fa-lg"></i
                  ></a>
                </td>
              </tr>

              <% usersList.forEach((row,index)=>{%>
              <tr
                class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
              >
                <th
                  scope="row"
                  class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
                >
                  <%=row.fname +" "+row.lname%>
                </th>
                <td class="py-4 px-6 text-center"><%=row.email%></td>
                <td class="py-4 px-6 text-center"><%=row.contact%></td>
                <td class="py-4 px-6 text-center whitespace-nowrap">
                  <%=row.address%>
                </td>
                <td class="py-4 px-6 text-center"><%=row.city%></td>
                <td class="py-4 px-6 text-center"><%=row.gender%></td>

                <td class="py-4 px-6 text-center whitespace-nowrap">
                  <a href="/edit/<%=row._id%>" class="text-blue-600 pr-2"
                    ><i class="fas fa-edit fa-regular fa-lg"></i
                  ></a>

                  <a href="/delete/<%=row._id%>" class="text-red-600 pl-2"
                    ><i class="fas fa-trash fa-regular fa-lg"></i
                  ></a>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <a
          href="/"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-35 sm:w-32 px-5 py-2.5 mt-4 mb-8 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Add More
        </a>
      </div>
    </section>
    <%} else {%>
    <section
      class="main flex flex-col items-center gap-10 justify-center h-screen"
    >
      <h1 class="text-center text-secondary font-medium text-xl">
        No user found in the database
      </h1>
      <a
        href="/"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-35 sm:w-32 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Add User
      </a>
    </section>
    <%}%>
  </body>
</html>
